@inherits LayoutComponentBase

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="/loginPage.css" rel="stylesheet" />

</head>
<body>
    @Body
</body>

